<h1> DAILY UPDATE</h1>


<body>CAPTION: </body><%= @daily_update.caption %>

<br>
<body>WORKOUT TYPE: </body><%= @daily_update.workout_type %>
<br>
<body>WORKOUT MINUTES: </body><%= @daily_update.workout_minutes %>
<br>
<body>CALORIES BURNED: </body><%= @daily_update.calories_burned %>

<br>
<br>


<a href="/daily_updates/<%= @daily_update.id %>/edit"><button>Edit this update</button></a>

<form action="/daily_updates/<%= @daily_update.id %>" method="post">
    <input type="hidden" name="_method" value="delete">
    <input type="submit" value="Delete this update">
</form>

<a href="/daily_updates/new"><button>Create new daily update</button></a>
<a href="/daily_updates"><button>See all daily updates</button></a>
<a href="/logout"><button>Logout</button></a>
